<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>main1001</key>
	<array>
		<dict>
			<key>name</key>
			<string>早餐</string>
			<key>key</key>
			<string>main1001sub1001</string>
		</dict>
		<dict>
			<key>name</key>
			<string>午餐</string>
			<key>key</key>
			<string>main1001sub1002</string>
		</dict>
		<dict>
			<key>name</key>
			<string>晚餐</string>
			<key>key</key>
			<string>main1001sub1003</string>
		</dict>
		<dict>
			<key>name</key>
			<string>请客</string>
			<key>key</key>
			<string>main1001sub1004</string>
		</dict>
	</array>
	<key>main1002</key>
	<array>
		<dict>
			<key>name</key>
			<string>房租</string>
			<key>key</key>
			<string>main1002sub1001</string>
		</dict>
	</array>
	<key>main1003</key>
	<array>
		<dict>
			<key>name</key>
			<string>火车</string>
			<key>key</key>
			<string>main1003sub1001</string>
		</dict>
	</array>
	<key>main1004</key>
	<array>
		<dict>
			<key>name</key>
			<string>衣服</string>
			<key>key</key>
			<string>main1004sub1001</string>
		</dict>
	</array>
</dict>
</plist>
